/* ----------:| UTILITY |:------------------ */ /* ---------------:| GOOGLE FONT |:--------------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700&display=swap");
/* ---------------:| CSS VARIABLE |:-------------- */
:root {
  --orange: #ff7800;
  --white: #ffffff;
  --black: #130f40;
  --dark-black: #1f1f1f;
  --light-color: #666;
  --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
  --border: .2rem solid rgba(0, 0, 0, .1);
  --outline: .1rem solid rgba(0, 0, 0, .1);
  --outline-hover: .2rem solid var(--black);
}

/* ---------------:| REFORMATING |:--------------- */
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  background: #eee;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background-color: var(--black);
}

::-webkit-scrollbar-thumb {
  background: var(--orange);
  border-radius: 2px;
}

/* ---------------:| REUSABLE CLASSES |:--------------- */
section {
  padding: 3rem 9%;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  border: 0.2rem solid var(--black);
  color: var(--black);
  cursor: pointer;
  background: none;
  text-transform: uppercase;
}

.btn:hover {
  background: var(--orange);
  color: #fff;
}

.heading {
  text-align: center;
  padding: 2rem 0;
  padding-bottom: 3rem;
  font-size: 3rem;
  color: var(--black);
  text-transform: uppercase;
  font-weight: 600;
}
.heading span {
  background: var(--orange);
  color: #fff;
  display: inline-block;
  padding: 0.5rem 3rem;
  -webkit-clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
          clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
  text-transform: uppercase;
}

/* ----------:| ALL-SECTION-CSS |:---------- */
/* HEADER SECTION STARTS */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 2rem 8%;
  background: #fff;
  box-shadow: var(--box-shadow);
}
.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--black);
}
.header .logo i {
  color: var(--orange);
  margin-right: 0.5rem;
}
.header .navigation a {
  font-size: 1.7rem;
  margin: 0 1rem;
  color: var(--black);
  font-weight: 500;
  letter-spacing: 0.5px;
}
.header .navigation a:hover {
  color: var(--orange);
}
.header .icons div {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: 0.5rem;
  background: #eee;
  color: var(--black);
  font-size: 2rem;
  margin-left: 0.3rem;
  cursor: pointer;
  text-align: center;
}
.header .icons div:hover {
  background: var(--orange);
  color: #fff;
}
.header #menu-btn {
  display: none;
}
.header .search-form {
  position: absolute;
  top: 110%;
  right: -150%;
  width: 50rem;
  height: 5rem;
  background: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow);
}
.header .search-form.active {
  right: 2rem;
  transition: 0.3s linear;
}
.header .search-form input {
  height: 100%;
  width: 100%;
  background: none;
  text-transform: none;
  font-size: 1.6rem;
  color: var(--black);
  padding: 0 1.5rem;
}
.header .search-form label {
  font-size: 2.2rem;
  padding-right: 1.5rem;
  color: var(--black);
  cursor: pointer;
}
.header .search-form label:hover {
  color: var(--orange);
}
.header .shopping-cart {
  position: absolute;
  top: 110%;
  right: -110%;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  width: 35rem;
  background: #fff;
}
.header .shopping-cart.active {
  right: 2rem;
  transition: 0.4s linear;
}
.header .shopping-cart .box {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  margin: 1rem 0;
}
.header .shopping-cart .box:hover {
  background: #f0f0f0;
  transition: all 0.3s ease-in;
}
.header .shopping-cart .box img {
  width: 10rem;
}
.header .shopping-cart .box .fa-trash {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  right: 2rem;
  cursor: pointer;
  color: var(--light-color);
  transform: translateY(-50%);
}
.header .shopping-cart .box .fa-trash:hover {
  color: var(--orange);
}
.header .shopping-cart .box .content h3 {
  color: var(--black);
  font-size: 1.7rem;
  padding-bottom: 1rem;
  font-weight: 600;
  letter-spacing: 0.3px;
}
.header .shopping-cart .box .content span {
  color: var(--light-color);
  font-size: 1.6rem;
}
.header .shopping-cart .box .content .quantity {
  padding-left: 1rem;
}
.header .shopping-cart .total {
  font-size: 2rem;
  padding: 1rem 0;
  text-align: center;
  color: var(--black);
  text-transform: uppercase;
  font-weight: 600;
}
.header .shopping-cart .btn {
  display: block;
  text-align: center;
  margin: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.8px;
}
.header .login-form {
  position: absolute;
  top: 110%;
  right: -110%;
  width: 35rem;
  box-shadow: var(--box-shadow);
  padding: 2rem;
  border-radius: 0.5rem;
  background: #fff;
  text-align: center;
}
.header .login-form.active {
  right: 2rem;
  transition: 0.4s linear;
}
.header .login-form h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--black);
}
.header .login-form .box {
  width: 100%;
  margin: 0.7rem 0;
  background: #eee;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.6rem;
  color: var(--black);
  text-transform: none;
}
.header .login-form p {
  font-size: 1.4rem;
  padding: 0.5rem 0;
  color: var(--light-color);
}
.header .login-form p a {
  color: var(--orange);
  text-decoration: underline;
}
.header .login-form p a:hover {
  color: var(--black);
}

/* ====================================================================================  */
/* HOME SECTION STARTS */
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../image/bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 20rem;
  padding-bottom: 10rem;
  height: 100vh;
}
.home .content {
  text-align: center;
  width: 70rem;
}
.home .content h3 {
  color: var(--black);
  font-size: 3rem;
  text-transform: uppercase;
  word-spacing: 3px;
  font-weight: 600;
  letter-spacing: 0.2px;
}
.home .content h3 span {
  color: var(--orange);
  text-transform: uppercase;
}
.home .content p {
  color: var(--dark-black);
  font-size: 1.7rem;
  padding: 1rem 0;
  line-height: 1.8;
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 0.3px;
}
.home .content .btn {
  background: var(--orange);
  color: #fff;
  border: none;
}
.home .content .btn:hover {
  background: var(--black);
  color: #fff;
  border: none;
}

/* HOME SECTION ENDS */
/* ====================================================================================  */
/* FEATURES SECTION STARTS */
.features .box {
  padding: 3rem 2rem;
  background: #fff;
  outline: var(--outline);
  outline-offset: -1rem;
  text-align: center;
  box-shadow: var(--box-shadow);
}
.features .box:hover {
  outline: var(--outline-hover);
  outline-offset: 0rem;
}
.features .box img {
  margin: 1rem 0;
  height: 15rem;
}
.features .box h3 {
  font-size: 2.5rem;
  line-height: 1.8;
  color: var(--black);
}
.features .box p {
  font-size: 1.5rem;
  line-height: 1.8;
  color: var(--light-color);
  padding: 1rem 0;
}

/* FEATURES SECTION ENDS */
/* ====================================================================================  */
/* CATEGORIES SECTION STARTS */
.categories .box {
  padding: 3rem 2rem;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: var(--box-shadow);
  outline: var(--outline);
  outline-offset: -1rem;
  text-align: center;
}
.categories .box:hover {
  outline: var(--outline-hover);
  outline-offset: 0rem;
}
.categories .box img {
  margin: 1rem 0;
  height: 15rem;
}
.categories .box h3 {
  font-size: 2rem;
  color: var(--black);
  line-height: 1.8;
}
.categories .box p {
  font-size: 1.7rem;
  color: var(--light-color);
  line-height: 1.8;
  padding: 1rem 0;
}

/* CATEGORIES SECTION ENDS */
/* ====================================================================================  */
/* PRODUCT SECTION STARTS */
.products .product-slider {
  padding: 1rem;
}
.products .product-slider:first-child {
  margin-bottom: 2rem;
}
.products .product-slider .box {
  background: #fff;
  border-radius: 0.5rem;
  text-align: center;
  padding: 3rem 2rem;
  outline-offset: -1rem;
  outline: var(--outline);
  box-shadow: var(--box-shadow);
  transition: 0.2s linear;
}
.products .product-slider .box:hover {
  outline-offset: 0rem;
  outline: var(--outline-hover);
}
.products .product-slider .box img {
  height: 17rem;
}
.products .product-slider .box h3 {
  font-size: 2.5rem;
  color: var(--black);
}
.products .product-slider .box .price {
  font-size: 2rem;
  color: var(--light-color);
  padding: 0.5rem 0;
}
.products .product-slider .box .stars i {
  font-size: 1.7rem;
  color: var(--orange);
  padding: 0.5rem 0;
}

/* PRODUCT SECTION ENDS */
/* ====================================================================================  */
/* REVIEWS SECTION STARTS */
.reviews .review-slider {
  padding: 1rem;
}
.reviews .review-slider .box {
  background: #fff;
  border-radius: 0.5rem;
  text-align: center;
  padding: 3rem 2rem;
  outline-offset: -1rem;
  outline: var(--outline);
  box-shadow: var(--box-shadow);
  transition: 0.2s linear;
}
.reviews .review-slider .box:hover {
  outline: var(--outline-hover);
  outline-offset: 0rem;
}
.reviews .review-slider .box img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}
.reviews .review-slider .box p {
  padding: 1rem 0;
  line-height: 1.8;
  color: var(--light-color);
  font-size: 1.5rem;
}
.reviews .review-slider .box h3 {
  padding-bottom: 0.5rem;
  color: var(--black);
  font-size: 2.2rem;
}
.reviews .review-slider .box .stars i {
  color: var(--orange);
  font-size: 1.7rem;
}

/* REVIEWS SECTION ENDS */
/* ====================================================================================  */
/* BLOGS SECTION STARTS */
.blogs .box {
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  background: #fff;
}
.blogs .box img {
  height: 25rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blogs .box .content {
  padding: 2rem;
}
.blogs .box .content .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.5rem;
  margin-bottom: 1rem;
  border-bottom: var(--border);
}
.blogs .box .content .icons a {
  color: var(--light-color);
  font-size: 1.5rem;
}
.blogs .box .content .icons a:hover {
  color: var(--black);
}
.blogs .box .content .icons a i {
  color: var(--orange);
  padding-right: 0.5rem;
}
.blogs .box .content h3 {
  color: var(--black);
  font-size: 2rem;
  padding: 0.5rem 0;
}
.blogs .box .content p {
  line-height: 1.4;
  color: var(--light-color);
  font-size: 1.5rem;
  padding: 0.5rem 0;
}

/* BLOGS SECTION ENDS */
/* ====================================================================================  */
/*  SECTION STARTS */
.footer {
  background: #fff;
}
.footer .box h3 {
  font-size: 2.5rem;
  color: var(--black);
  padding: 1rem 0;
}
.footer .box h3 i {
  color: var(--orange);
}
.footer .box p {
  line-height: 1.8;
  font-size: 1.5rem;
  color: var(--light-color);
  padding: 1rem 0;
}
.footer .box .share a {
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  border-radius: 0.5rem;
  font-size: 2rem;
  color: var(--black);
  margin-right: 0.2rem;
  background: #eee;
  text-align: center;
}
.footer .box .share a:hover {
  background: var(--orange);
  color: #fff;
}
.footer .box .links {
  display: block;
  font-size: 1.5rem;
  color: var(--light-color);
  padding: 1rem 0;
}
.footer .box .links:hover i {
  padding-right: 2rem;
}
.footer .box .links i {
  color: var(--orange);
  padding-right: 0.5rem;
}
.footer .box .email {
  width: 100%;
  margin: 0.7rem 0;
  padding: 1rem;
  border-radius: 0.5rem;
  background: #eee;
  font-size: 1.6rem;
  color: var(--black);
  text-transform: none;
}
.footer .box .payment-img {
  margin-top: 2rem;
  height: 3rem;
  display: block;
}
.footer .credit {
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  color: var(--black);
  border-top: var(--border);
  text-transform: uppercase;
  font-weight: 500;
}
.footer .credit span {
  color: var(--orange);
  margin-left: 0.5rem;
}

/*  SECTION ENDS */
/* ----------:| UTILITY |:------------------ */
@media (max-width: 1000px) {
  html {
    font-size: 54%;
  }
  section {
    padding: 2rem;
  }
  .header {
    padding: 2rem;
  }
}
@media (max-width: 786px) {
  html {
    font-size: 53%;
  }
  .header .search-form {
    width: 90%;
  }
  .header #menu-btn {
    display: inline-block;
  }
  .header .navigation {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    background: #fff;
  }
  .header .navigation.active {
    right: 2rem;
    transition: 0.2s linear;
  }
  .header .navigation a {
    font-size: 2rem;
    margin: 2rem 2.5rem;
    display: block;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .home .content h3 span {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */