/* _____ GOOGLE FONTS IMPORT LINK _____________________________ */

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* _____ VARIABLES ________________________________ */

:root {
    --bg-white: #fff;
    --bg-dark: #03262c;
    --primary-text: #061738;
    --secondary-color: #60cd12;
    --light-color: #2ef6de;
    --dark-color: #03262c;
    --text-white: #fff;
    --text-grey: #dee2e6;
    --anchor-color: #007aff;
    --primary-font: 'Barlow Condensed', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
}

/* _____ DEFAULT CSS FORMATING ________________________________ */

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    list-style: none;
}

body,
html {
    color: var(--primary-text);
    font-size: 10px;
    font-weight: 400;
    font-family: var(--primary-font);
    scroll-behavior: smooth;
    line-height: 1.5;
    user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1 {
    font-size: 9rem;
    line-height: 1.4;
    font-weight: 600;
    color: var(--primary-text);
}

h2 {
    font-size: 4.7rem;
    line-height: 1.2;
    font-weight: 600;
    color: var(--primary-text);
    display: inline-block;
    margin-bottom: 2rem;
    text-transform: capitalize;
}

h3 {
    color: var(--text-white);
    font-size: 3.1rem;
    line-height: 1.2;
    font-weight: 700;
}

h4 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
    color: var(--primary-text);
}

h5 {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
    color: var(--primary-text);
}

p {
    font-size: 1.6rem;
    line-height: 1.6;
    margin-top: 1rem;
    color: var(--primary-text);
}

embed,
iframe,
img,
object {
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
a:active,
a:focus,
:hover,
button {
    text-decoration: none;
    outline: none;
}

li a {
    color: var(--text-white);
}

a,
button:hover {
    transition: all 0.3s ease-in;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--bg-white);
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
}

/* _____ REUSABLE COMPONENT ________________________________ */

.main-btn {
    position: relative;
    color: var(--bg-white);
    background: linear-gradient(to right, #0f7404, #5cb917);
    z-index: 1;
    overflow: hidden;
    border: 0.2rem solid var(--bg-white);
    border-radius: 1.5rem;
    text-transform: uppercase;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    margin-top: 1.5rem;
    letter-spacing: 0.2rem;
}

.main-btn:hover {
    background: var(--bg-white);
    color: var(--secondary-color);
    border: 0.2rem solid var(--secondary-color);
}

section {
    padding: 5rem 0;
}

.section-title {
    font-size: 4rem;
    font-weight: 600;
    color: var(--primary-text);
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.section-subtitle {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-text);
    font-family: var(--secondary-font);
    max-width: 80%;
    margin: auto;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

.about .banner_section,
.product .banner_section,
.gallery .banner_section,
.contact .banner_section {
    background: url(/IMAGES/banner-slide/top-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
    min-height: auto;
}