// MEDIA FOR 1199PX
@media (max-width:1199.5px) {}

// MEDIA FOR 991PX
@media (max-width:992px) {

    /* CUSTOM CSS */
    .wrapper {
        padding: 4.125rem 0;
    }

    .btn {
        font-size: .875rem;
    }

    h1 {
        font-size: 2.6125rem;
        margin-bottom: .6rem;
    }

    h2 {
        font-size: 1.875rem;
    }

    h3 {
        font-size: 1.5625rem;
    }

    h4 {
        font-size: 1.875rem;
    }

    h5 {
        font-size: 1.125rem;
    }

    p {
        font-size: .875rem;
        line-height: 1.35rem;
    }

    // HEADER
    .header {

        // nav links
        .nav-links {
            position: fixed;
            right: -150%;
            top: 0;
            background: var(--bg-light-blue);
            height: 100vh;
            width: 70vw;
            padding: 65px 0 0 50px;
            flex-direction: column;
            border-left: 2px solid var(--very-light-blue);
            transition: var(--transition-03);


            &.active {
                right: 0;
            }

            // links
            .link a {
                font-weight: 600;
                color: var(--text-white);
                letter-spacing: 0.3px;

                &:hover {
                    color: var(--text-black);
                }

            }

            // navigation close button
            .nav-close-btn {
                display: flex;
                position: absolute;
                right: 25px;
                top: 20px;
                font-size: 1.5rem;
                color: var(--text-white);
                cursor: pointer;

                &:hover {
                    color: var(--text-black);
                }

            }

        }

        // navigation open button
        .nav-open-btn {
            display: flex;
            cursor: pointer;
            font-size: 1.5rem;
            padding: 10px;

            &:hover {
                color: var(--bg-light-blue);
            }

        }


    }


    // HOME BANNER
    .banner_wrapper {

        p {
            max-width: 100%;
        }



    }

}

// MEDIA FOR 767PX
@media (max-width:767px) {}

// MEDIA FOR 570PX
@media (max-width:570px) {


    // HEADER
    .header {
        padding: 0.8rem;
    }

    // BANNER
    .home .home-wrapper .animate-img .img_1 {
        left: 0rem;
    }

    // ABOUT
    .about_wrapper .about_animate {
        left: 1rem;
        bottom: 0rem;
        width: 7rem;
    }

    // TESTIMONIAL
    .testinomial_wrapper {
        text-align: center;
    }

}