@media (min-width:576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width:992px) {
    .container {
        max-width: 975px;
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1152px;
    }
}

/* ------------------------------------------------------------------------------- */


@media (max-width:1200px) {

    html {
        font-size: 15px;
    }

    /* header  */
    header nav .nav_right .links {
        margin-right: 1.6rem;
    }

}


@media only screen and (max-width:992px) {

    html {
        font-size: 13.4px;
    }

    /* header  */
    header #main_nav {
        display: none;
    }

    .mobile_header {
        display: block;
        position: fixed;
        width: 100%;
        z-index: 1000;
    }

    main.hero {
        padding-top: 6rem;
    }

    main.hero .hero_left img {
        width: 83%;
    }

    main.hero .hero_right h1 {
        font-size: 1.7rem;
    }


    main.hero .hero_right p {
        color: var(--white_tint2);
        font-size: 0.86rem;
        line-height: 1.4;
        margin-bottom: 1.5rem;
    }

    /* about  */
    section.about .about_right p {
        font-size: 0.85rem;
    }

    section.about .about_right ul li {
        font-size: 1rem;
    }

    section.about .about_right ul li span {
        font-size: 15px;
    }

    /* service  */
    section.services .card_wrapper .card h2 {
        font-size: 1.4rem;
    }

    section.services .card_wrapper .card p {
        font-size: 0.8rem;
    }

    /* project */
    section.works .project_wrapper {
        padding: 0px 0rem;
    }

    section.works .project_wrapper .card {
        position: relative;
        height: 150px;
    }

    section.blog .blog_wrapper {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 2rem;
    }
}


@media (max-width:768px) {

    html {
        font-size: 12px;
    }

    /* header  */

    main.hero {
        padding-top: 6rem;
        padding-bottom: 4rem;
    }

    .hero .hero_right {
        justify-content: flex-start;
    }

    .hero .hero_left {
        justify-content: flex-start;
    }

    main.hero .hero_left img {
        width: 85%;
    }

    .mob_haddere_cont .logo img {
        width: 32px;
    }

    .mob_haddere_cont p {
        font-size: 18px;
    }

    .mobile_hadder_container{
        padding: 1.6rem 2rem;
    }

    .mobile_hadder_container .ham_icon span {
        font-size: 21px;
    }

    .hero .hero_right {
        flex: 1.5;
    }

    main.hero .hero_right h1 {
        margin-top: 0.3rem;
    }

    main.hero .hero_right p {
        margin-bottom: 1rem;
        margin-top: 0.3rem;
    }

    /* about  */
    .about .container {
        flex-direction: row-reverse;
    }

    .about .about_right {
        flex: 1.5;
    }

    section.about .about_left img {
        width: 100%;
    }

    section.about .about_right h4 {
        margin: 0;
    }

    /* services  */
    section.services .section_heading+p {
        font-size: 1rem;
    }

    section.services {
        padding: 5rem 0 6rem 0;
    }

    section.services .card_wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    section.services .card_wrapper .card p {
        padding: 0 4rem;
    }

    /* freelance  */
    section.freelance p {
        padding: 0 2rem;
    }

    /* projects  */
    section.works p {
        margin-top: 1rem;
        font-size: 0.9rem;
    }

    section.works {
        padding: 5rem 0;
    }

    section.works .project_wrapper {
        padding: 0px 0rem;
        grid-template-columns: repeat(2, 1fr);
    }

    section.works .project_wrapper .card {
        height: 150px;
    }

    section.works .project_wrapper img {
        object-fit: fill;
    }

    /* blog  */
    section.blog .blog_wrapper {
        padding: 0px 0rem;
    }

    section.blog .blog_wrapper .img_wrapper img {
        height: 140px;
    }

    section.blog .blog_wrapper .blogs .blog_contant a {
        margin: 0.37rem 0;
    }

    section.blog .blog_wrapper .blogs .blog_contant p {
        line-height: 1.3;
        margin-bottom: 1rem;
    }

    /* contact  */
    section.contact .contact_info {
        width: 100%;
    }

}



@media (max-width:576px) {

    html {
        font-size: 11.3px;
    }

    /* header  */

    .mob_haddere_cont .logo img {
        width: 25px;
    }

    .mobile_hadder_container .mob_haddere_cont p {
        font-size: 1.4rem;
    }

    .mobile_hadder_container .ham_icon span {
        font-size: 20px;
    }

    main.hero {
        padding: 3.5rem 1.8rem 4rem 1.8rem;
    }

    .hero .container {
        flex-direction: column;
    }

    .hero .hero_right {
        margin-top: -2rem;
    }

    .hero .hero_left {
        justify-content: center;
    }

    main.hero .hero_right h4 {
        font-size: 1.78rem;
    }

    main.hero .hero_right h1 {
        font-size: 2rem;
        margin-top: -0.3rem;
        word-spacing: -1px;
    }

    main.hero .hero_right p {
        font-size: 0.95rem;
        line-height: 1.6;
        font-weight: 400;
    }

    /* about  */
    .about .container {
        flex-direction: column;
    }

    section.about {
        padding: 0rem 2rem 2rem 1rem;
    }

    section.about .about_left img {
        width: 100%;
        height: 260px;
    }

    section.about .about_right h4 {
        font-size: 1.8rem;
    }

    section.about .about_right h2 {
        font-size: 2rem;
    }

    section.about .about_right p {
        font-size: 0.95rem;
        line-height: 1.6;
        font-weight: 600;
    }

    /* services  */
    section.services .card_wrapper {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    section.services .card_wrapper .card {
        width: 70%;
    }

    /* project  */
    section.works .project_wrapper {
        padding: 0 2rem;
        grid-template-columns: repeat(1, 1fr);
    }

    section.works .project_wrapper img {
        object-fit: cover;
    }

    section.works .project_wrapper .card {
        height: 182px;
        width: 75%;
        margin-bottom: 1.5rem;
    }

    section.works .project_wrapper {
        padding: 0 2rem;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    section.blog .blog_wrapper {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    section.blog .blog_wrapper .blogs {
        width: 71%;
    }

    section.blog .blog_wrapper .img_wrapper img {
        height: 200px;
    }

    .copyright {
        display: none;
    }

    /* contact  */

    section.contact {
        padding: 4rem 0rem;
    }

    section.contact p {
        padding: 0 3rem;
    }

    section.contact .contact_info {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 4rem;
    }


    section.contact .contact_info .contact_container {
        flex-direction: row;
        margin-bottom: 1rem;
    }

    section.contact .contact_info .contact_container .icon span {
        font-size: 27px;
        color: var(--primary);
    }

    section.contact .contact_info .contact_container .info {
        align-items: flex-start;
        margin-left: 2rem;
    }


    section.contact form .input_wrap {
        grid-template-columns: repeat(1, 1fr);;
        gap: 0rem;
    }

}


@media (max-width:500px) {
    section.clients .slider .slide p {
        width: 300px;
    }

}