// MEDIA FOR 1220PX
@media (max-width:1220px) {

    // our store feature product section
    .our-store-feature .our-store-feature-wrapper {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    .our-store-feature .our-store-feature-wrapper .featured-collection-item {
        width: 235px;
    }

    .our-store-feature .our-store-feature-wrapper .featured-collection-item .collection-image {
        height: 220px;
        width: 235px;
    }

    .our-store-feature .our-store-feature-wrapper .featured-collection-item .collection-image .product-image {
        width: 235px;
    }

}

// MEDIA FOR 1050PX
@media (max-width:1050px) {

    // header

    .header .header-middle .logo {
        font-size: 1.4rem;
        letter-spacing: 0.6px;
    }

    .header .header-middle .search-box input {
        width: 280px;
    }

    // hero banner
    .hero-section .hero-banner-container {
        flex-direction: column;
    }

    .hero-section .hero-banner-container .left-side-slider-container {
        width: 100%;
        height: 420px;
    }

    .hero-section .hero-banner-container .left-side-slider-container .slider {
        height: 420px;
    }

    .hero-section .hero-banner-container .left-side-slider-container .slider .image {

        img {
            object-position: center;
        }

    }

    .hero-section .hero-banner-container .left-side-slider-container .slider .banner-content {
        margin-left: 80px;

        .brand {
            font-size: 2.8rem;
        }

        .price {
            font-size: 1.6rem;

            span {
                font-size: 2rem;
            }

        }

        .note {
            font-size: 1.4rem;
        }

    }

    .hero-section .hero-banner-container .right-side-container {
        display: none;
    }

    // our store feature product section
    .our-store-feature .our-store-feature-wrapper {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .our-store-feature .our-store-feature-wrapper .featured-collection-item {
        width: 255px;
    }

    .our-store-feature .our-store-feature-wrapper .featured-collection-item .collection-image {
        height: 235px;
        width: 255px;
    }

    .our-store-feature .our-store-feature-wrapper .featured-collection-item .collection-image .product-image {
        width: 255px;
    }

}

// MEDIA FOR 930PX
@media (max-width:930px) {

    // header
    .header .header-middle .search-box input {
        width: 250px;
    }

    .header .header-middle .header-middle-action-btn .icon-box img {
        width: 22px;
    }

    // hero banner
    .hero-section {
        padding: 10px 0;
    }

    // home page best product section
    .best-choise-product-section .best-choise-product-wrapper .content-box {
        justify-content: space-between;
    }

    // home page best product section
    .best-choise-product-section .best-choise-product-wrapper .best-choise-item {
        padding: 7px 10px;
    }

    .best-choise-product-section .best-choise-product-wrapper .best-choise-item {
        flex-direction: column;
        gap: 14px;
    }


    .best-choise-product-section .best-choise-product-wrapper .image-box {
        width: 100%;
    }

    .best-choise-product-section .best-choise-product-wrapper .content-box {
        width: 100%;
        padding-left: 0px;
        height: auto;
    }

    // home multiple banner section
    .multiple-banner .big-banner .main-banner .text h3 {
        font-size: 1.8rem;
    }

    // home news letter section
    .newsletter-overlay .news-letter-wrapper {
        text-align: center;
        gap: 15px;
        flex-direction: column;
    }

    // footer
    .footer .footer-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

}

// MEDIA FOR 840PX
@media (max-width:850px) {

    // header

    .header .header-top .header-top-action .hotline {
        border: none;
    }

    .header .header-top .header-top-action .header-top-act-btn {
        display: none;
    }

    .header .header-middle {
        padding: 14px 0;
    }

    .header .header-middle .search-box {
        width: 70%;
    }

    .header .header-middle .search-box input {
        width: 100%;
    }

    .header .header-middle .header-middle-action-btn {
        display: none;
    }

    .header .header-bottom {
        display: none;
    }

    // mobile navigation bottom
    .mobile-nav-bottom {
        display: flex;
    }

    // hero banner
    .hero-section .hero-banner-container .left-side-slider-container .slider .banner-content {
        margin-left: 45px;
    }

    // home multiple banner
    .multiple-banner .big-banner {
        flex-direction: column;
        gap: 20px;
    }

    .multiple-banner .big-banner .main-banner {
        width: 100%;
    }

    .multiple-banner .big-banner .main-banner img {
        object-position: top center;
    }

    // our store feature product section
    .our-store-feature .our-store-feature-wrapper .featured-collection-item {
        width: 230px;
    }

    .our-store-feature .our-store-feature-wrapper .featured-collection-item .collection-image {
        height: 225px;
        width: 230px;
    }

    .our-store-feature .our-store-feature-wrapper .featured-collection-item .collection-image .product-image {
        width: 230px;
    }


}

// MEDIA FOR 780PX
@media (max-width:790px) {

    // home page best product section
    .best-choise-product-section .best-choise-product-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    // our store feature product section
    .our-store-hero h2 {
        font-size: 2rem;
    }

    .our-store-feature .our-store-feature-wrapper {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .our-store-feature .our-store-feature-wrapper .featured-collection-item {
        width: 210px;
    }

    .our-store-feature .our-store-feature-wrapper .featured-collection-item .collection-image {
        height: 200px;
        width: 210px;
    }

    .our-store-feature .our-store-feature-wrapper .featured-collection-item .collection-image .product-image {
        width: 210px;
    }

}

// MEDIA FOR 740PX
@media (max-width:740px) {

    // hero banner 

    .hero-section .hero-banner-container .left-side-slider-container .slider .banner-content {

        .brand {
            font-size: 2.3rem;
        }

        .price {
            font-size: 1.7rem;

            span {
                font-size: 2.1rem;
            }

        }

    }

    // hero feature section
    .feature.container {
        width: 95%;
    }

    // our store feature product section

    .our-store-feature .our-store-feature-wrapper {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .our-store-feature .our-store-feature-wrapper .featured-collection-item {
        width: 260px;
    }

    .our-store-feature .our-store-feature-wrapper .featured-collection-item .collection-image {
        height: 240px;
        width: 260px;
    }

    .our-store-feature .our-store-feature-wrapper .featured-collection-item .collection-image .product-image {
        width: 260px;
    }

    // blog page
    .blog-item-wrapper .blog-item {
        flex-direction: column;
    }

    .blog-item-wrapper .blog-item .left-image {
        width: 100%;
        height: 350px;
    }

    .blog-item-wrapper .blog-item .right-content {
        width: 100%;
        margin-top: 15px;
    }

    // contact page
    .contact-wrapper .contact-box {
        flex-direction: column;
    }

    .contact-wrapper .left-contact {
        width: 100%;
    }

    .contact-wrapper .right-contact {
        width: 100%;
        margin-top: 20px;
    }


}

// MEDIA FOR 650PX
@media (max-width:650px) {

    // header
    .header .header-top {
        display: none;
    }


    // hero banner 
    .hero-section .hero-banner-container .left-side-slider-container .slider .banner-content {

        margin-left: 25px;

        .brand {
            font-size: 2rem;
        }

        .price {
            font-size: 1.4rem;

            span {
                font-size: 1.7rem;
            }

        }

    }

    // hero feature secion
    .feature .f-box-wrapper .icon-box i {
        font-size: 1rem;
    }

    .feature .f-box-wrapper .info h3 {
        font-size: 0.8rem;
    }

    .feature .f-box-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        margin: 0 10px;
    }

    // home multiple banner section
    .multiple-banner .small-banner {
        flex-direction: column;
        gap: 12px;
    }

    .multiple-banner .small-banner .sm-main-banner {
        width: 100%;
    }

    // footer
    .footer .footer-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    // our store feature product section
    .our-store-feature .our-store-feature-wrapper {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 10px;
    }

    // profile page
    .your-account .account-feature-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

}

// MEDIA FOR 550PX
@media (max-width:550px) {

    // header

    .header .header-middle {
        padding: 12px 0;
    }

    .header .header-middle .logo span:first-child {
        display: none;
    }

    .header .header-middle .logo span:last-child {
        background: var(--bg-black-1);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 5px;
        font-size: 1.4rem;
    }

    .header .header-middle .search-box {
        width: 80%;
    }

    .header .header-middle .search-box input {
        height: 32px;
    }

    .header .header-middle .search-box i {
        height: 32px;
    }

    // hero banner
    .hero-section .hero-banner-container .left-side-slider-container .slider .banner-content {
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        margin: 0;
        padding: 15px 0 15px 20px;
        background: #ffffffcc;
        border-radius: 5px;

        .brand {
            font-size: 1.4rem;
        }

        .price {
            font-size: 1.1rem;

            span {
                font-size: 1.4rem;
            }

        }

        .note {
            font-size: 1.05rem;
        }

        .btn {
            margin-top: 5px;
            padding: 5px 12px;
            font-size: 0.8rem;
        }

    }

    .hero-section .hero-banner-container .left-side-slider-container .slider .image img {
        object-position: -130px 0px;
    }

    // hero banner section

    .feature {
        padding: 13px 0;
    }

    .feature .f-box-wrapper {
        margin: 0 12px;
    }

    // home section feature collection carousel
    .featured-collection-section h2 {
        font-size: 1.2rem;
    }

    // home page best product section
    .best-choise-product-section .best-choise-product-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .best-choise-product-section .best-choise-product-wrapper .image-box {
        height: 320px;
    }

    // footer
    .footer .footer-wrapper {
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
        margin-left: 10px;
    }

    .footer .footer-wrapper .section ul li {
        margin-bottom: 5px;
    }

    .footer .footer-wrapper .section h3 {
        margin-bottom: 5px;
    }

    .footer .footer-wrapper .section h3 {
        font-size: 1.05rem;
    }

    // our store feature product section
    .our-store-hero h2 {
        font-size: 1.6rem;
    }

    .our-store-hero p {
        font-size: 1rem;
    }

    .our-store-feature .our-store-feature-wrapper {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px 10px;
    }

    .our-store-feature .our-store-feature-wrapper .featured-collection-item {
        width: 85%;
    }

    .our-store-feature .our-store-feature-wrapper .featured-collection-item .collection-image {
        height: 360px;
        width: 100%;
    }

    .our-store-feature .our-store-feature-wrapper .featured-collection-item .collection-image .product-image {
        width: 100%;
    }

    // WISH LIST PAGE
    .wishlist-item-wrapper .wishlist-item {
        width: 100%;
    }

    // profile page
    .your-account .account-feature-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }


}

// MEDIA FOR 400PX
@media (max-width:400px) {

    // header
    .header .header-middle {
        padding: 9px 0;
    }

    .header .header-middle .container {
        padding: 0 5px;
    }

    // hero banner

    .hero-section .hero-banner-container .left-side-slider-container {
        height: 360px;

        .slider {
            height: 360px;

            .banner-content {
                top: 60%;
            }

        }

    }

    .hero-section .hero-banner-container .left-side-slider-container .slider .image img {
        object-position: -130px 0px;
    }

    // hero feature section

    .feature .f-box-wrapper .info h3 {
        font-size: 0.7rem;
    }

    .feature .f-box-wrapper {
        margin: 0px;
    }

    // home feature collection carousel
    .featured-collection-section .owl-theme .owl-nav {
        display: none;
    }

    // home overlay section
    .overlay-home-section {
        margin: 30px 0;
    }

    .overlay-home-section h3 {
        font-size: 0.9rem;
    }

    .overlay-home-section p {
        font-size: 1.2rem;
        margin: 15px 0;
    }

    .overlay-home-section button {
        font-size: 0.9rem;
        padding: 6px 20px;
    }

    // home multiple banner section

    .multiple-banner .big-banner .main-banner .text {
        margin-left: 20px;
    }

    .multiple-banner .big-banner .main-banner .text h4 {
        font-size: 1rem;
    }

    .multiple-banner .big-banner .main-banner .text h3 {
        font-size: 1.2rem;
    }

    .multiple-banner .big-banner .main-banner .text p {
        font-size: 0.75rem;
    }


    .multiple-banner .small-banner .sm-main-banner .text {
        text-align: center;
    }


    // home news letter overlay section
    .newsletter-overlay .news-letter-wrapper .text h3 {
        font-size: 1.3rem;
    }

    .newsletter-overlay .news-letter-wrapper .text p {
        font-size: 0.8rem;
    }

    .newsletter-overlay .news-letter-wrapper .form {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
    }

    .newsletter-overlay .news-letter-wrapper .form input {
        width: 200px;
        margin-right: 0px;
    }

    // our store page 
    .our-store-hero h2 {
        font-size: 1.1rem;
    }

    .our-store-hero p {
        font-size: 0.8rem;
    }

    .our-store-feature .our-store-feature-wrapper .featured-collection-item .collection-image {
        height: 290px;
    }

    // blog page
    .our-store-hero,
    .blog-hero-banner {
        padding: 50px 0;
    }

    .blog-item-wrapper .blog-item {
        width: 100%;
    }

    .blog-item-wrapper .blog-item .left-image {
        height: 300px;
    }

    .blog-item-wrapper .blog-item .right-content .date {
        font-size: 1.5rem;
    }

    .blog-item-wrapper .blog-item .right-content .headline {
        font-size: 1.2rem;
    }

    .blog-item-wrapper .blog-item .right-content .discription {
        font-size: 0.8rem;
    }

    .blog-item-wrapper .blog-item .right-content button {
        font-size: 0.75rem;
        padding: 6px 9px;
        margin-top: 4px;
    }

    .blog-item-wrapper .blog-item .right-content {
        gap: 4px;
    }

    // contact page
    .contact-wrapper .right-contact .text-content p {
        margin-bottom: 7px;
        font-size: 0.8rem;
        letter-spacing: 0px;
    }

    // WISHLIST PAGE

    .wishlist-header .container .header-left .heading {
        font-size: 1.3rem;
    }



    .wishlist-item-wrapper .wishlist-item {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .wishlist-item-wrapper .wishlist-item .image {
        width: 100%;
        height: 150px;

        img {
            object-fit: contain;
        }

    }

    .wishlist-item-wrapper .wishlist-item .product-info {
        width: 100%;
    }

    // cart page
    .wishlist-item-wrapper .wishlist-item .buy-now {
        margin: -9px 0;
        width: 100%;
    }


}