/* ----------|  UTILITY |------------------ */ /* ----| GOOGLE FONTS |------------------- */
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Red+Hat+Display:wght@300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
/* ----| CSS VARIABLE |------------------- */
:root {
  /* ------ Colors ------ */
  --first-color: #abdf3a;
  --first-color-light: #d9fd8b;
  --first-color-alt: #a3d733;
  --first-color-dark: #9dd02f;
  --first-color-gray: #a5a99e;
  --white-color: #ffffff;
  --title-color: #fafafa;
  --btn-normal-bg-color: #f1efef;
  --title-color-black: #1e201d;
  --text-color: #b5baba;
  --text-color-light: #a2a9a9;
  --body-color: #121717;
  /* ------ Font and typography ------ */
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Red Hat Display", sans-serif;
  --second-font: "Kaushan Script", cursive;
  --biggest-font-size: 2rem;
  --bigger-font-size: 1.5rem;
  --big-font-size: 1.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  /* ------ Font weight ------ */
  --font-bold: 700;
  --font-bolder: 900;
  /* ------ z index ------ */
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 992px) {
  :root {
    --biggest-font-size: 6rem;
    --bigger-font-size: 3.5rem;
    --big-font-size: 2.75rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}
/* ----| DEFAULT FORMATING |------------------- */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

h1,
h2,
h3 {
  color: var(--title-color);
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  background-color: rgba(18, 23, 23, 0.6862745098);
}

::-webkit-scrollbar-thumb {
  background: rgba(181, 186, 186, 0.6705882353);
  border-radius: 5px;
}

.nav_link.active-link {
  position: relative;
}
.nav_link.active-link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background: white;
  transition: all 0.3s ease;
  width: 80%;
}
.nav_link.active-link:hover {
  color: var(--first-color);
}

/* ----| REUSABLE COMPONENTS |------------------- */
.section {
  padding: 5.4rem 0 4.5rem 0;
}

.flex-1 {
  flex: 1;
}

/* BUTTONS */
.button {
  border: 3px solid transparent;
  padding: 11px 12px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1.3px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  display: inline-flex;
  align-items: center;
}
.button i {
  font-size: 1.3rem;
  transition: all 0.3s;
}
.button:hover i {
  transform: translateX(5px);
}

.primary-button {
  background-color: var(--first-color-dark);
  border-color: var(--first-color);
  color: var(--title-color-black);
}
.primary-button:hover {
  background-color: transparent;
  color: var(--white-color);
  border-color: var(--first-color);
}

.secondary-button {
  background-color: var(--btn-normal-bg-color);
  color: var(--title-color-black);
}
.secondary-button:hover {
  background-color: var(--first-color-alt);
  border-color: var(--first-color);
}

.section__data {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
  text-align: center;
  margin-bottom: 3rem;
}

.section__title,
.section__title-border {
  font-size: var(--big-font-size);
  letter-spacing: 1.5px;
}

.section__subtitle {
  font-size: var(--h2-font-size);
  font-family: var(--second-font);
  font-weight: 400;
  letter-spacing: 1.5px;
  color: var(--first-color);
}

.section__titles {
  display: flex;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  justify-content: center;
}

.section__title-border {
  -webkit-text-stroke: 1px var(--text-color);
  color: transparent;
}

/* link active class */
#active {
  color: var(--first-color-alt);
}

/* scroll header css */
.header-scrolled {
  background-color: var(--body-color) !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* scroll to top */
.scrollup {
  background-color: var(--first-color-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: fixed;
  bottom: -30%;
  right: 1rem;
  z-index: 1;
  font-size: 1.25rem;
  color: var(--title-color-black);
  transition: all 0.3s ease;
}
.scrollup i {
  font-size: 1.1rem;
  transition: all 0.3s ease;
  color: black;
}
.scrollup:hover {
  background-color: var(--first-color-gray);
}
.scrollup:hover i {
  transform: translateY(-3px);
}
.scrollup.show-scroll {
  bottom: 3rem;
}

/* ----------|  ALL-SECTION-CSS |---------- */
/* ----------------:| NEW SECTION |:---------------------------------------------------- */
/* header section starts */
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: var(--z-fixed);
  transition: background 0.3s ease;
  padding: 1.5rem 0.5rem;
}
.header.active {
  background-color: #090909;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .nav .nav_logo {
  display: flex;
  align-items: center;
  color: var(--title-color);
  gap: 0.6rem;
  font-weight: var(--font-bold);
}
.header .nav .nav_logo i {
  font-size: 1.5rem;
  color: var(--first-color);
}
.header .nav .nav_logo span {
  font-size: 1.25rem;
  letter-spacing: 0.5px;
}
.header .nav .nav_menu .nav_list {
  gap: 2rem;
  display: flex;
  padding: 6rem 0 0 3rem;
  flex-direction: column;
  align-items: flex-start;
}
.header .nav .nav_menu .nav_list .nav_link {
  color: var(--title-color);
  transition: all 0.3s;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  padding: 3px 0;
  cursor: pointer;
}
.header .nav .nav_menu .nav_list .nav_link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background: white;
  transition: all 0.3s ease;
}
.header .nav .nav_menu .nav_list .nav_link:hover::after {
  width: 80%;
}
.header .nav .nav_menu .nav_list .nav_link:hover {
  color: var(--first-color);
}
.header .nav .nav_menu .nav_list .active-link {
  color: var(--first-color);
}
.header .nav .nav_menu .nav_list .active-link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 80%;
  height: 2px;
  background: white;
  transition: all 0.3s ease;
}
.header .nav .nav_menu .nav_close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--title-color);
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.2s ease;
}
.header .nav .nav_menu .nav_close:hover {
  color: var(--first-color);
}
.header .nav .nav_menu.active {
  right: 0;
}
.header .nav .nav_open {
  font-size: 1.25rem;
  cursor: pointer;
  color: var(--title-color);
}
.header .nav .nav_open:hover {
  color: var(--first-color);
}

@media screen and (max-width: 992px) {
  .nav_menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    height: 100%;
    background-color: rgba(18, 23, 23, 0.8);
    -webkit-backdrop-filter: blur(32px);
            backdrop-filter: blur(32px);
    border-left: 2px solid var(--first-color-gray);
    transition: all 0.3s ease;
  }
}
/* header section ends */
/* ----------------:| NEW SECTION |:---------------------------------------------------- */
/* home section starts */
.home {
  position: relative;
  padding-bottom: 0;
}
.home .home_container {
  padding-top: 4rem;
}
.home .home_data {
  text-align: center;
  margin-bottom: 3rem;
}
.home .home_data .home_subtitle {
  font-size: var(--bigger-font-size);
  text-transform: uppercase;
  -webkit-text-stroke: 1px var(--title-color);
  color: transparent;
  letter-spacing: 1.5px;
}
.home .home_data .home_title {
  text-transform: uppercase;
  font-weight: var(--font-bolder);
  font-size: var(--biggest-font-size);
  letter-spacing: 1.5px;
  margin: 0.5rem 0;
}
.home .home_data .home_description {
  margin-bottom: 2.5rem;
  letter-spacing: 0.5px;
  font-weight: 600;
  width: 90%;
  margin: 1.5rem auto 2.5rem auto;
}
.home .home_data .button {
  display: inline-flex;
  align-items: center;
}
.home .home_data .button:hover i {
  transform: translateX(5px);
}
.home .home_images .home_triangle {
  height: 325px;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
          clip-path: polygon(100% 0, 0 100%, 100% 100%);
}
.home .home_images .home_triangle-1 {
  width: 105px;
  background-color: var(--first-color);
}
.home .home_images .home_triangle-2 {
  width: 205px;
  background-color: var(--first-color-alt);
}
.home .home_images .home_triangle-3 {
  width: 305px;
  background-color: var(--first-color-dark);
}
.home .home_images .home_img {
  display: block;
  position: relative;
  z-index: 1;
  width: 350px;
  margin: 0 auto;
}

/* home section ends */
/* ----------------:| NEW SECTION |:---------------------------------------------------- */
/* program section starts */
.program {
  padding-bottom: 0;
}
.program .program_card {
  display: grid;
  background-color: hsla(79, 6%, 64%, 0.07);
  padding: 1.5rem 2rem;
  margin-bottom: 2rem;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  cursor: pointer;
}
.program .program_card .program_shape {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: var(--first-color-gray);
  margin-bottom: 1rem;
  transition: all 0.5s ease;
}
.program .program_card .program_shape .program_img {
  width: 35px;
}
.program .program_card .program_title {
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
  transition: all 0.5s ease;
}
.program .program_card .program_description {
  font-size: var(--small-font-size);
  letter-spacing: 0.5px;
  line-height: 150%;
  font-weight: 600;
  transition: all 0.5s ease;
}
.program .program_card .program_button {
  justify-self: end;
  margin-top: 1.5rem;
  font-size: 1.25rem;
  color: var(--title-color-black);
  opacity: 0;
  transition: all 0.4s ease;
}
.program .program_card .program_button i {
  display: block;
  transition: all 0.3s ease;
}
.program .program_card .program_button:hover i {
  transform: translateX(0.25rem);
}
.program .program_card:hover {
  background-color: var(--first-color);
  border: 2px solid var(--first-color-light);
}
.program .program_card:hover .program_shape {
  background-color: var(--first-color-light);
}
.program .program_card:hover .program_title,
.program .program_card:hover .program_description {
  color: var(--title-color-black);
}
.program .program_card:hover .program_button {
  opacity: 1;
}

/* program section starts */
/* ----------------:| NEW SECTION |:---------------------------------------------------- */
/* choose us section starts */
.choose {
  padding-bottom: 0;
}
.choose .choose_overflow {
  position: relative;
}
.choose .choose-text-content {
  padding-bottom: 3rem;
}
.choose .choose-text-content .section__data {
  text-align: center;
  margin-bottom: 1.5rem;
}
.choose .choose-text-content .choose_description {
  text-align: center;
  margin-bottom: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  word-spacing: 0.5px;
}
.choose .choose-text-content .choose_group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.choose .choose-text-content .choose_group .choose_number {
  font-size: var(--h1-font-size);
  font-family: var(--second-font);
  font-weight: 400;
  margin-bottom: 0.25rem;
}
.choose .choose-text-content .choose_group .choose_subtitle {
  font-size: var(--small-font-size);
  font-weight: 600;
}
.choose .choose_img {
  width: 260px;
  display: block;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}
.choose .choose_triangle {
  height: 325px;
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%);
          clip-path: polygon(0 0, 0 100%, 100% 100%);
}
.choose .choose_triangle.choose_triangle-1 {
  width: 305px;
  background-color: var(--first-color);
}
.choose .choose_triangle.choose_triangle-2 {
  width: 205px;
  background-color: var(--first-color-alt);
}
.choose .choose_triangle.choose_triangle-3 {
  width: 105px;
  background-color: var(--first-color-dark);
}

/* choose us section ends */
/* ----------------:| NEW SECTION |:---------------------------------------------------- */
/* pricing section starts */
.pricing .pricing_card {
  margin-bottom: 2rem;
  display: grid;
  gap: 2rem;
  background-color: hsla(79, 6%, 64%, 0.07);
  padding: 2rem 2.5rem;
}
.pricing .pricing_shape {
  display: grid;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  place-items: center;
  margin-bottom: 1rem;
  background-color: var(--first-color-gray);
}
.pricing .pricing_shape .pricing_img {
  width: 35px;
}
.pricing .pricing_title {
  font-size: var(--h3-font-size);
  color: var(--title-color);
  margin-bottom: 1rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  word-spacing: 1px;
}
.pricing .pricing_number {
  font-size: var(--h1-font-size);
}
.pricing .pricing_list {
  display: grid;
  gap: 1rem;
}
.pricing .pricing_list .pricing_item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: var(--small-font-size);
  font-weight: 600;
  letter-spacing: 0.2px;
}
.pricing .pricing_list .pricing_item i {
  font-size: 1.25rem;
  color: var(--first-color);
}
.pricing .pricing_list .pricing_item.pricing_item_opacity {
  opacity: 0.3;
}
.pricing .button {
  justify-self: left;
}
.pricing .pricing_card_active {
  background-color: var(--first-color);
  border: 2px solid var(--first-color-light);
}
.pricing .pricing_card_active .pricing_shape {
  background-color: var(--first-color-light);
}
.pricing .pricing_card_active .pricing_item i {
  color: var(--title-color);
}
.pricing .pricing_card_active .pricing_title,
.pricing .pricing_card_active .pricing_number,
.pricing .pricing_card_active .pricing_item {
  color: var(--title-color-black);
}

/* pricing section end */
/* ----------------:| NEW SECTION |:---------------------------------------------------- */
/* calculate section start */
.calculate {
  padding-bottom: 0;
}
.calculate .calculate_container {
  display: grid;
}
.calculate .calculate_conntent {
  margin-bottom: 4rem;
}
.calculate .section__titles {
  margin-bottom: 2rem;
  text-align: center;
}
.calculate .calculate_description {
  text-align: center;
  margin-bottom: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.4px;
}
.calculate .calculate_form {
  display: grid;
  gap: 1rem;
}
.calculate .calculate_form .calculate_box {
  position: relative;
  border: 2px solid var(--first-color-light);
}
.calculate .calculate_form .calculate_input {
  width: 100%;
  background: transparent;
  padding: 20px 56px 20px 24px;
  outline: none;
  border: none;
  color: var(--title-color);
}
.calculate .calculate_form .calculate_input::-webkit-outer-spin-button, .calculate .calculate_form .calculate_input::-webkit-inner-spin-button {
  --webkit-appearance: none;
  margin: 0;
}
.calculate .calculate_form .calculate_label {
  position: absolute;
  color: var(--title-color);
  right: 1.5rem;
  top: 1.25rem;
}
.calculate .calculate_form .button {
  margin-top: 1.5rem;
}
.calculate .calculate_form .calculate_message {
  position: absolute;
  transform: translateY(1rem);
}
.calculate .calculate_img {
  width: 200px;
  justify-self: center;
}

/* calculate section end */
/* ----------------:| NEW SECTION |:---------------------------------------------------- */
/* footer section starts */
.footer {
  padding-bottom: 2rem;
}
.footer .footer_content-1 {
  margin-bottom: 4rem;
  padding-top: 1rem;
}
.footer .footer_content-1 .footer_logo {
  display: flex;
  align-items: center;
  color: var(--title-color);
  gap: 0.6rem;
  font-weight: var(--font-bold);
  margin-bottom: 1rem;
}
.footer .footer_content-1 .footer_logo span {
  font-size: 1.25rem;
  letter-spacing: 0.5px;
}
.footer .footer_content-1 .footer_logo i {
  font-size: 1.5rem;
  color: var(--first-color);
}
.footer .footer_content-1 .footer_description {
  margin-bottom: 2rem;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.footer .footer_content-1 .footer_form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: flex-start;
}
.footer .footer_content-1 .footer_form .footer_input {
  padding: 14px 56px 14px 24px;
  border: 2px solid var(--first-color-light);
  background: transparent;
  color: var(--title-color);
  outline: none;
}
.footer .footer_content-2 > div {
  margin-bottom: 2.5rem;
}
.footer .footer_content-2 .footer_title {
  font-size: 1.3rem;
  margin-bottom: 0.9rem;
  color: var(--title-color);
  font-weight: 700;
  letter-spacing: 0.9px;
}
.footer .footer_content-2 .footer_links {
  row-gap: 0.5rem;
  display: grid;
}
.footer .footer_content-2 .footer_links .footer_link {
  color: var(--text-color);
  font-weight: 600;
  letter-spacing: 0.2px;
}
.footer .footer_content-2 .footer_links .footer_link:hover {
  color: var(--first-color);
  text-decoration: underline;
}
.footer .footer_group {
  margin-top: 4rem;
  display: grid;
  justify-items: center;
  row-gap: 2rem;
}
.footer .footer_group .footer_social {
  display: flex;
  gap: 1.25rem;
}
.footer .footer_group .footer_social .footer_social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--first-color);
  border-radius: 50%;
  font-size: 1.25rem;
  color: var(--title-color-black);
  transition: all 0.3s ease;
  width: 40px;
  height: 40px;
}
.footer .footer_group .footer_social .footer_social-link:hover {
  background-color: var(--first-color-gray);
}
.footer .footer_group .footer_copy {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  text-transform: uppercase;
  font-weight: 500;
  word-spacing: 1px;
  letter-spacing: 0.5px;
}

/* footer section ends */
/* ----------|  RESPONSIVE |--------------- */
@media screen and (max-width: 345px) {
  .section__titles {
    flex-direction: column;
    gap: 0.25rem;
  }
  .home .home_images .home_triangle {
    height: 225px;
  }
  .home .home_images .home_triangle.home_triangle-3 {
    width: 260px;
  }
  .choose .choose_triangle {
    height: 225px;
  }
  .choose .choose_triangle.choose_triangle-3 {
    width: 260px;
  }
  .choose .choose_img {
    width: 140px;
  }
  .pricing .pricing_card {
    padding: 1.5rem;
  }
  .footer .footer_group .footer_copy {
    text-align: center;
  }
  .footer .footer_group {
    margin-top: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .nav_menu {
    width: 50%;
  }
  .home .home_container {
    display: grid;
    grid-template-columns: repeat(2, max-content);
  }
  .home .home_container {
    padding-top: 8rem;
  }
  .home .home_images .home_img {
    position: absolute;
    bottom: 0;
    width: 350px;
    margin: 0 auto;
    right: 0;
  }
  .home .home_data {
    text-align: left;
    margin-bottom: 0;
  }
  .home .home_data .home_description {
    margin: 0;
    margin-bottom: 2rem;
    width: 400px;
  }
  .program .program_card {
    height: 320px;
  }
  .choose .choose-text-content {
    padding-bottom: 0;
  }
  .choose .choose-text-content .section__data {
    align-items: flex-start;
  }
  .choose .choose-text-content .choose_description {
    text-align: left;
  }
  .choose .choose-text-content .choose_group {
    align-items: flex-start;
    padding: 1rem 0;
  }
  .calculate .calculate_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .calculate .calculate_conntent {
    margin-bottom: 0rem;
    align-self: end;
  }
  .calculate .section__titles {
    justify-content: flex-start;
  }
  .calculate .calculate_description {
    text-align: left;
  }
  .calculate .calculate_form {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
  }
  .calculate .calculate_form .button {
    margin-top: 1.5rem;
    grid-column: 1/3;
  }
  .footer {
    padding-top: 7rem;
  }
}
@media screen and (min-width: 992px) {
  .header .nav .nav_open {
    display: none;
  }
  .header .nav .nav_menu .nav_close {
    display: none;
  }
  .header .nav .nav_menu {
    width: auto;
  }
  .header .nav .nav_menu .nav_list {
    gap: 2.5rem;
    display: flex;
    padding: 0;
    flex-direction: row;
    align-items: center;
  }
  .seciton {
    padding: 8rem 0 0;
  }
  .home {
    height: 100vh;
    padding: 0;
    display: flex;
    align-items: center;
  }
  .home .home_container {
    padding-top: 10rem;
  }
  .home .home_data {
    z-index: 3;
    position: relative;
  }
  .home .home_data .home_title {
    margin: 0.75rem 0 1.25rem;
  }
  .home .home_data .home_description {
    width: 445px;
    margin-bottom: 3rem;
  }
  .home .home_images .home_img {
    width: 540px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .home .home_images .home_triangle {
    height: 770px;
  }
  .home .home_images .home_triangle-3 {
    width: 650px;
  }
  .home .home_images .home_triangle-2 {
    width: 550px;
  }
  .choose .choose_img {
    transform: translateY(0.9rem);
  }
  .footer .footer_group {
    margin-top: 1rem;
  }
  .choose_overflow {
    overflow: hidden;
  }
  .choose .choose_img {
    width: 320px;
  }
  .choose .choose_triangle {
    height: 415px;
  }
  .choose .choose_triangle.choose_triangle-1 {
    width: 530px;
  }
  .choose .choose_triangle.choose_triangle-2 {
    width: 330px;
  }
  .footer .footer_content-1 .footer_form {
    flex-direction: row;
  }
}
@media screen and (min-width: 1140px) {
  .home {
    overflow: hidden;
  }
  .home .home_images .home_img {
    width: 655px;
    transform: translateY(4rem);
  }
  .home .home_images .home_triangle {
    height: 815px;
  }
  .home .home_images .home_triangle-3 {
    width: 760px;
  }
  .home .home_images .home_triangle-2 {
    width: 560px;
  }
}/*# sourceMappingURL=style.css.map */