/* =-=-=-=-==-=-= HEADER SECTION STARTS =-=-=-=-==-=-=-=-=-=-=-=-= */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 8rem;
    background: #E3E6F3;
    box-shadow: 0 0.2rem 3rem rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;

    // logo  
    .logo {
        width: 85%;
    }

    // navicon
    .nav-icon {

        display: none;

        .icon-container {
            display: flex;
            align-items: center;
            gap: 2rem;
        }


        i {
            font-size: 1.8rem;
            color: #1a1a1a;
            display: inline-block;

            &:hover {
                color: #088178;
            }

        }

    }

    // navbar
    .navbar {
        display: flex;
        align-items: center;
        transition: all 0.3s ease;

        li {
            padding: 0 1.8rem;

            a {
                font-size: 1.7rem;
                font-weight: 600;
                letter-spacing: 0.5px;
                color: #1a1a1a;
                transition: all 0.3s ease;
                position: relative;


                &:hover,
                &.active {
                    color: #088178;
                }

                &.active::after,
                &:hover::after {
                    content: "";
                    width: 60%;
                    height: 2px;
                    background-color: #088178;
                    position: absolute;
                    bottom: -4px;
                    left: 0;
                }

            }

        }

        .nav-close {
            display: none;

            i {
                font-size: 2rem;
                color: #1a1a1a;

                &:hover {
                    color: #088178;
                }

            }

        }

    }

}

#navBar.active {
    right: 0;
}

/* =-=-=-=-==-=-= HEADER SECTION ENDS =-=-=-=-=-==-=-=-=-=-=-=-=-= */

/* --------------------------------------------------------------- */

/* =-=-=-=-==-=-= HERO SECTION STARTS =-=-=-=-=-==-=-=-=-=-=-=-=-= */

.home {
    background: url(/img/hero4.png);
    height: 90vh;
    background-size: cover;
    background-position: top 25% right 20%;
    padding: 0 8rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

    h4 {
        padding-bottom: 1.5rem;
    }

    h1 {
        color: #088178;
    }

    p {
        font-size: 1.7rem;
        font-weight: 500;
    }

    button {
        background-image: url(/img/button.png);
        background-color: transparent;
        border: none;
        outline: none;
        padding: 1.4rem 8rem 1.4rem 6.5rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        a {
            color: #088178;
            font-size: 1.8rem;
            font-weight: 600;
            letter-spacing: 1px;
            transition: all 0.3s ease;

            &:hover {
                color: #1a1a1a;
            }

        }


    }

}

/* =-=-=-=-==-=-= HERO SECTION ENDS =-=-=-=-=-=-==-=-=-=-=-=-=-=-= */

/* --------------------------------------------------------------- */

/* =-=-=-=-==-=-= FEATURES SECTION STARTS =-=-=-=-=-==-=-=-=-=-=-= */

.feature {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .feature_box {
        width: 15rem;
        text-align: center;
        padding: 2.5rem 1.5rem;
        box-shadow: 0rem 0rem 2rem rgb(0 0 0 / 20%);
        border: 1px solid #cce7d0;
        border-radius: 5px;
        transition: all 0.3s ease;
        margin: 1rem 1rem;

        &:hover {
            box-shadow: 0rem 0rem 4rem rgb(70 62 221 / 10%);
        }

        img {
            width: 100%;
        }

        h6 {
            font-size: 1.3rem;
            letter-spacing: 0.5px;
            padding: 0.9rem 0.8rem 0.6rem 0.8rem;
            line-height: 1;
            border-radius: 4px;
            background: #fddde4;
            margin-top: 1rem;
        }

        &:nth-child(2) h6 {
            background: #CDEBBC;
        }

        &:nth-child(3) h6 {
            background: #d98cef;
        }

        &:nth-child(4) h6 {
            background: #CDD4F8;
        }

        &:nth-child(5) h6 {
            background: #F6DBF6;
        }

        &:nth-child(6) h6 {
            background: #FFF2E5;
        }

    }

}

/* =-=-=-=-==-=-= FEATURES SECTION ENDS =-=-=-=-=-=-==-=-=-=-=-=-= */

/* --------------------------------------------------------------- */

/* =-=-=-=-==-=-= FEATURES PRODUCT AND BANNER SECTION START -=-=-= */

.product1 {
    text-align: center;


    h2 {
        font-size: 4rem;
    }

    p {
        font-size: 2rem;
        font-weight: 400;
    }

    .product {
        width: 23%;
        min-width: 25rem;
        padding: 1rem 1.2rem;
        border: 1px solid #cce7d0;
        border-radius: 1rem;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        margin: 2rem 0;
        transition: all 0.3s ease;
        position: relative;


        &:hover {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            border-color: rgba(0, 0, 0, 0.5);
        }

        img {
            width: 100%;
            border-radius: 1rem;
        }

        .description {
            text-align: left;
            padding: 1rem 0;

            span {
                color: #606063;
                font-size: 1.7rem;
                font-weight: 600;
                letter-spacing: 0.5px;
            }

            h5 {
                font-size: 1.6rem;
                font-weight: 500;
                margin: 0.5rem 0 0.5rem;
                color: #1a1a1a;
            }

            .star {
                font-size: 1.5rem;
                color: #48cd43;
                margin: 0.8rem 0;
            }

            h4 {
                font-size: 1.7rem;
                font-weight: 700;
                color: #088178;
                margin-top: 1rem;
            }

        }

        a {
            width: 4rem;
            height: 4rem;
            line-height: 4rem;
            border-radius: 50%;
            background-color: #e8f6ea;
            color: #088178;
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: 14px;
            right: 19px;
            transition: all 0.3s ease;
            border: 1px solid #cce7d0;

            &:hover {
                background-color: #48cd43;
                color: #fff;
            }

        }

    }

    .product-container {
        display: flex;
        justify-content: space-between;
        // padding: 2rem;
        flex-wrap: wrap;
    }

}

// ------------

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/banner/b2.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;

    h4 {
        color: #fff;
        font-size: 2rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 0.5;
    }

    h2 {
        color: #fff;
        font-size: 3rem;
        padding: 10px 0;

        span {
            color: #ef3636;
        }

    }




}

/* =-=-=-=-==-=-= FEATURES PRODUCT AND BANNER SECTION ENDS =-=-=-= */

/* --------------------------------------------------------------- */

/* =-=-=-=-==-=-= BANNER PRODUCT SECTION START -=-=-=-=-=-=-=-=-= */

.banner-sm {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .banner-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-image: url(/img/banner/b17.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        min-width: 53rem;
        height: 50vh;
        padding: 3rem;

        h4 {
            color: #fff;
            font-size: 2.1rem;
            font-weight: 400;
            letter-spacing: 0.5px;
        }

        h2 {
            color: #fff;
            font-size: 2.9rem;
            font-weight: 800;
            letter-spacing: 0.6px;
        }

        span {
            color: #fff;
            font-weight: 600;
            font-size: 1.5rem;
            padding-bottom: 1.5rem;
            letter-spacing: 0.5px;
        }

        button {
            margin-top: 0.5rem;
        }

        &:hover button {
            background: #8085ea;
        }

        &:hover {
            background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/banner/b17.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top;
        }

    }

    .bb-2 {
        background: url(/img/banner/b10.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        transition: all 0.3s ease;

        &:hover {
            background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/banner/b10.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top;
        }

    }
}

.banner-3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 8rem;

    .banner-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-image: url(/img/banner/b7.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-width: 30%;
        height: 30vh;
        padding: 2rem;
        margin-bottom: 2rem;

        h2 {
            color: white;
            font-weight: 900;
            font-size: 22px;
            letter-spacing: 0.5px;
        }

        h3 {
            color: #ec544e;
            font-weight: 700;
            letter-spacing: 1px;
            font-size: 1.8rem;
        }

        &:nth-child(2) {
            background: url(/img/banner/b4.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        &:nth-child(3) {
            background: url(/img/banner/b18.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

    }

}

/* =-=-=-=-==-=-= BANNER PRODUCT SECTION START -=-=-=-=-=-=-=-=-= */

/* --------------------------------------------------------------- */

/* =-=-=-=-==-=-= NEWSLETTER SECTION START -=-=-=-=-=-=-=-=-= */

.news_letter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background: url(/img/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-size: cover;
    background-color: #041e42;

    h4 {
        font-size: 2.2rem;
        font-weight: 700;
        color: #fff;
    }

    p {
        font-size: 1.4rem;
        font-weight: 600;
        color: #818280;

        span {
            color: #ffbd27;
        }

    }

    .form {

        display: flex;
        align-items: center;
        gap: 1rem;
        width: 40%;

        input {
            height: 4.125rem;
            padding: 0 1.25em;
            font-size: 1.4rem;
            width: 100%;
            border: 1px solid transparent;
            outline: none;
            border-radius: 4px;
        }

        button {
            background: #088178;
            color: #ffffff;
            white-space: nowrap;
        }

    }

}

/* =-=-=-=-==-=-= NEWSLETTER SECTION ENDS  -=-=-=-=-=-=-=-=-= */

/* --------------------------------------------------------------- */

/* =-=-=-=-==-=-=  FOOTER SECTION ENDS  -=-=-=-=-=-=-=-=-= */

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .col {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 2rem;

        .footer-logo {
            margin-bottom: 3rem;
        }

        h4 {
            font-size: 1.8rem;
            padding-bottom: 2rem;
        }

        p {
            font-size: 1.3rem;
            margin: 0 0 8px 0;
        }

        a {
            font-size: 1.6rem;
            color: #222;
            margin-bottom: 1.5rem;

            &:hover {
                color: #088178;
            }

        }

        .follow {
            margin-top: 2rem;

            .icons {
                font-size: 1.5rem;
                color: #465b52;
                font-size: 1.8rem;
                cursor: pointer;

                i {
                    padding: 2px;

                    &:hover {
                        color: #088178;
                    }

                }

            }

        }

    }

    .install {
        .row {
            img {
                border: 1px solid #088178;
                border-radius: 6px;
                margin: 1rem 0 1.5rem 0;
            }
        }
    }

}

.copyright {
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.5px;
}

/* =-=-=-=-==-=-=  FOOTER SECTION ENDS  -=-=-=-=-=-=-=-=-= */

/* --------------------------------------------------------------- */

/* =-=-=-=-==-=-=  SHOP SECTION STARTS  -=-=-=-=-=-=-=-=-= */

.shop_hero {
    background: url(/img/banner/b1.jpg);
    width: 100%;
    height: 40vh;
    text-align: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.4rem;

    h2,
    p {
        color: #fff;
    }

}

// ------------- pagination section ---------------

.pagination {
    text-align: center;

    a {
        background-color: #088178;
        padding: 1.6rem 2rem;
        border-radius: 4px;
        color: #fff;
        font-weight: 600;
        font-size: 1.5rem;

        i {
            font-size: 1.6rem;
        }

    }

}

// ------------- single product ---------------

.product-details {

    display: flex;
    margin-top: 3rem;

    .s-p-img {
        width: 40%;
        margin-right: 4rem;

        .small-img-group {
            display: flex;
            justify-content: space-between;

            .small-img-col {
                flex-basis: 24%;
                cursor: pointer;
            }

        }

    }


    .single-product-details {
        width: 50%;
        margin-top: 3rem;

        h4 {
            padding: 4rem 0 2rem 0;
        }

        h2 {
            font-size: 2.6rem;
        }

        select {
            display: block;
            padding: 0.5rem 1rem;
            margin-bottom: 1.5rem;
        }

        input {
            width: 5rem;
            height: 4rem;
            padding-left: 1rem;
            font-size: 1.6rem;

            &:focus {
                outline: none;
            }

        }

        button {
            background: #088178;
            color: #fff;
            margin-left: 1rem;

        }

        span {
            display: block;
            font-size: 1.4rem;
            line-height: 2rem;
            margin-top: 1rem;
        }
    }

}

/* =-=-=-=-==-=-=  SHOP SECTION ENDS  -=-=-=-=-=-=-=-=-= */

/* --------------------------------------------------------------- */

/* =-=-=-=-==-=-=  BLOG SECTION STARTS  -=-=-=-=-=-=-=-=-= */

.blog_hero {
    background: url(/img/banner/b19.jpg);
    width: 100%;
    height: 40vh;
    text-align: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.4rem;

    h2,
    p {
        color: #fff;
    }

}

.blog {
    padding: 15rem 15rem 0 15rem;

    .blog-box {
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;
        margin-bottom: 10rem;

        .blog-img {
            width: 50%;
            margin-right: 4rem;


        }

        .blog-detail {
            width: 50%;

            h4 {
                font-size: 2.3rem;
            }

            a {
                font-size: 1.7rem;
                color: black;
                position: relative;
                transition: all 0.3s ease;

                &::after {
                    content: "";
                    width: 6rem;
                    height: 2px;
                    background-color: black;
                    position: absolute;
                    top: 30%;
                    right: -7rem;
                }

                &:hover {
                    color: #088178;
                }

                &:hover::after {
                    background: #088178;
                }

            }

        }

        h1 {
            position: absolute;
            color: var(--bg-1);
            font-size: 8rem;
            top: -4rem;
            z-index: -1;
            left: 0;
        }

    }

    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

}

/* =-=-=-=-==-=-=  BLOG SECTION ENDS  -=-=-=-=-=-=-=-=-= */

/* --------------------------------------------------------------- */

/* =-=-=-=-==-=-=  ABOUT SECTION STARTS  -=-=-=-=-=-=-=-=-= */

.about_hero {
    background: url(/img/about/banner.png);
    width: 100%;
    height: 40vh;
    text-align: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.4rem;

    h2,
    p {
        color: #fff;
    }
}

.about-head {

    display: flex;
    align-items: center;

    img {
        width: 50%;
        height: auto;
    }

    div {
        padding-left: 4rem;

        p {
            font-size: 1.7rem;
            line-height: 2rem;
        }

        abbr {
            font-size: 1.5rem;
            text-decoration: underline;
        }

        marquee {
            font-size: 1.4rem;
            padding: 6px;
        }

    }

}

.about-app {
    text-align: center;

    h1 a {
        text-decoration: underline;
    }

    .vedio {
        width: 70%;
        height: 100%;
        margin: 3rem auto 0 auto;

        video {
            width: 100%;
            height: 100%;
            border-radius: 3rem;
        }

    }

}

/* =-=-=-=-==-=-=  ABOUT SECTION ENDS  -=-=-=-=-=-=-=-=-= */

/* --------------------------------------------------------------- */

/* =-=-=-=-==-=-=  CONTACT SECTION STARTS  -=-=-=-=-=-=-=-=-= */

.contact-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .details {
        width: 40%;

        span {
            font-size: 2rem;
            font-weight: 600;
            letter-spacing: 0.5px;
        }

        h2 {
            font-size: 2.6rem;
            line-height: 3rem;
            padding: 2rem 0;

        }

        .icons {

            li {
                display: flex;
                align-items: center;
                gap: 2rem;
                margin-bottom: 2rem;

                i {
                    font-size: 1.5rem;
                }

                p {
                    margin: 0;
                    font-size: 1.4rem;
                }

            }

        }

    }

    .map {
        width: 50%;
        height: 400px;

        iframe {
            width: 100%;
            height: 100%;
        }

    }

}

.form-detail {

    display: flex;
    align-items: center;
    gap: 3rem;
    justify-content: space-between;
    margin: 4rem;
    border: 1px solid #1a1a1a;

    form {
        width: 55%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 2rem;

        span {
            font-size: 2rem;
            font-weight: 600;
            letter-spacing: 0.5px;
        }

        h2 {
            font-size: 3rem;
            line-height: 3rem;
            padding: 2rem 0;

        }

        input {
            width: 100%;
            padding: 1.2rem 1.5rem;
            outline: none;
            font-size: 1.5rem;
        }

        textarea {
            width: 100%;
            outline: none;
        }

        button {
            background: #088178;
            color: white;
        }
    }

    .people div{
        margin-bottom: 2.5rem;
        display: flex;
        align-items: center;
        gap: 1rem;

        img{
            width: 7rem;
            height: 7rem;
            object-fit: cover;
            border-radius: 50%;
            margin-bottom: 0.5rem;
        }

        p{
            margin: 0;
            font-size: 1.3rem;
            line-height: 2rem;

            span{
                display: block;
                font-size: 1.6rem;
                font-weight: 600;
                color: black;
            }

        }

    }

}

/* =-=-=-=-==-=-=  CONTACT SECTION ENDS  -=-=-=-=-=-=-=-=-= */

/* --------------------------------------------------------------- */

/* =-=-=-=-==-=-=  CART SECTION STARTS  -=-=-=-=-=-=-=-=-= */

.cart{

    overflow-x: auto;

    table{
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
        white-space: nowrap;

        img{
            width: 7rem;
        }

        td:nth-child(1){
            width: 100px;
            text-align: center;
        }

        td:nth-child(2){
            width: 150px;
            text-align: center;
        }

        td:nth-child(3){
            width: 250px;
            text-align: center;
        }

        td:nth-child(4),td:nth-child(5),td:nth-child(6){
            width: 150px;
        }

        td:nth-child(5) input{
            width: 70px;
            padding: 10px 5px 10px 15px;
        }

        thead{
            border: 1px solid #e2e9e1;
            border-left: none;
            border-right: none;
            
            td{
                font-size: 700;    
                text-transform: uppercase;
                font-size: 1.5rem;
                padding: 18px 0;
                letter-spacing: 0.5px;
            }
        }

        tbody{
            tr{
                td{
                    padding: 15px 0 0 0 ;
                    font-size: 1.3rem;
                }
            }
        }

    }

}

/* =-=-=-=-==-=-=  CART SECTION ENDS  -=-=-=-=-=-=-=-=-= */